@page "/findcustomer/{CustomerId}"

@using ModernFindSearch.Shared

<h1>FindCustomer</h1>
@*@if (Saved)
{*@
    <h3 class="page-title">Details for @Customer.CustomerName @Customer.CustomerCategory</h3>
    <div class="alert @StatusClass">@Message</div>
@*}
else
{
    <div class="alert @StatusClass">@Message</div>
}*@
<a class="btn btn-outline-primary" @onclick="@NavigateToHome">Home</a>

