@page "/searchcustomer/{searchText}"

@using ModernFindSearch.Shared

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3 class="page-title">Search Results</h3>
    <div><br /></div>
    <table class="table">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Category</th>
                <th>Customer Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.CustomerName</td>
                    <td>@customer.CustomerCategory</td>
                    <td>@customer.Street, @customer.City, @customer.PostCode </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-outline-primary" @onclick="@NavigateToCustomerMenu">Customer Menu</a>

}